<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true" />

    <application
        android:allowBackup="true"
        android:label="fisiotracker"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/YourThemeName">

        <activity
            android:name="com.example.fisiotracker.fisio_tracker_activities.activity_01_splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name="com.example.fisiotracker.fisio_tracker_activities.activity_02_auth"
            android:exported="false" />

        <activity
            android:name="com.example.fisiotracker.fisio_tracker_activities.activity_03_register"
            android:exported="false" />

        <activity
            android:name="com.example.fisiotracker.fisio_tracker_activities.activity_04_dashboard"
            android:exported="false" />

        <activity
            android:name="com.example.fisiotracker.fisio_tracker_activities.activity_05_profile"
            android:exported="false" />

        <activity
            android:name="com.example.fisiotracker.fisio_tracker_activities.activity_06_subscription"
            android:exported="false" />

        <activity
            android:name="com.example.fisiotracker.fisio_tracker_activities.activity_07_data_export"
            android:exported="false" />
    </application>

</manifest>